# Load Items

In [1]:
import json
import pprint

import numpy as np
import scipy.stats as ss
import pandas as pd
pd.set_option('display.max_columns', 100)

import warnings 
warnings.filterwarnings('ignore')

import condense_csv

In [2]:
def convert_num_labels_to_cat (df, categories):
    """
    Some columns have integer values, but do not denote any order, 
    so we need to convert them into categories.
    
    :param df: dataframe
    :type  df: pandas.core.frame.DataFrame
    :param categories: list of column names to convert
    :type  categories: list
    """
    
    for cat in categories:
        df[cat] = df[cat].astype('category')
    
    return df

#train_X = convert_num_labels_to_cat(train_X, ['region_code', 'district_code'])

In [3]:
def get_data(data_path, label_path, valid_size=0.2):
    """
    Get the data, and split it into train and validation.
    Also, convert appropriate numeric labels to categorical dtypes.

    :param data_path: path of the data input
    :type  data_path: str
    :param label_path: path of the data label
    :type  label_path: str
    :param test_size: Proportion to split on for the validation size
    :type  test_size: float
    """

    from sklearn.model_selection import train_test_split

    data = pd.read_csv(data_path)
    labels = pd.read_csv(label_path)
    data = condense_csv.compress_X(data)
    labels = condense_csv.compress_labels(labels)

    X_train, X_valid, y_train, y_valid = train_test_split(
        data,
        labels,
        test_size=valid_size,
        random_state=42
    )

    X_train = convert_num_labels_to_cat(X_train, ['region_code', 'district_code'])
    
    return X_train, X_valid, y_train, y_valid

# This will not be abstracted
train_X, valid_X, train_y, valid_y = get_data(
    '../data/train.csv', '../data/train_labels.csv')

memory used before preprocess:  19.00808

date time size before: 3.9798799999999996
date time size after:  0.47528

converting funder                         size:  3.86	->	 0.33
converting installer                      size:  3.64	->	 0.34
converting basin                          size:  4.03	->	 0.06
converting subvillage                     size:  3.85	->	 2.03
converting region                         size:  3.78	->	 0.06
converting lga                            size:  3.83	->	 0.07
converting ward                           size:  3.83	->	 0.34
converting public_meeting                 size:  2.1	->	 0.06
converting recorded_by                    size:  4.75	->	 0.06
converting scheme_management              size:  3.55	->	 0.06
converting scheme_name                    size:  3.15	->	 0.4
converting permit                         size:  2.06	->	 0.06
converting extraction_type                size:  3.84	->	 0.06
converting extraction_type_group          size:  3.85	->	 0.06
converting extraction_type_class          size:  3.84	->	 0.06
converting management                     size:  3.64	->	 0.06
converting management_group               size:  3.97	->	 0.06
converting payment                        size:  4.02	->	 0.06
converting payment_type                   size:  3.89	->	 0.06
converting water_quality                  size:  3.64	->	 0.06
converting quality_group                  size:  3.64	->	 0.06
converting quantity                       size:  3.82	->	 0.06
converting quantity_group                 size:  3.82	->	 0.06
converting source                         size:  3.92	->	 0.06
converting source_type                    size:  3.94	->	 0.06
converting source_class                   size:  3.98	->	 0.06
converting waterpoint_type                size:  4.27	->	 0.06
converting waterpoint_type_group          size:  4.21	->	 0.06

downcasting integers for: ['id', 'gps_height', 'num_private', 'region_code', 'district_code', 'population', 'construction_year']

reduced memory usage for:   id                  from     0.48 to     0.24
reduced memory usage for:   gps_height          from     0.48 to     0.12
reduced memory usage for:   num_private         from     0.48 to     0.12
reduced memory usage for:   region_code         from     0.48 to     0.06
reduced memory usage for:   district_code       from     0.48 to     0.06
reduced memory usage for:   population          from     0.48 to     0.12
reduced memory usage for:   construction_year   from     0.48 to     0.12

available RAM: svmem(total=8589934592, available=2456641536, percent=71.4, used=7266893824, free=643264512, active=3380809728, inactive=1813377024, wired=2072707072)
available RAM: svmem(total=8589934592, available=2643185664, percent=69.2, used=7081504768, free=829345792, active=3227668480, inactive=1813839872, wired=2039996416)

memory used after preprocess:  6.3896

In [4]:
train_X.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,subvillage,region,region_code,district_code,lga,ward,population,public_meeting,recorded_by,scheme_management,scheme_name,permit,construction_year,extraction_type,extraction_type_group,extraction_type_class,management,management_group,payment,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
3607,454,50.0,2013-02-27,Dmdd,2092,DMDD,35.426020,-4.227446,Narmo,0,Internal,Bashnet Kati,Manyara,21,1,Babati,Bashinet,160,True,GeoData Consultants Ltd,Water Board,NaN,True,1998,gravity,gravity,gravity,water board,user-group,pay per bucket,per bucket,soft,good,insufficient,insufficient,spring,spring,groundwater,communal standpipe,communal standpipe
50870,510,0.0,2011-03-17,Cmsr,0,Gove,35.510074,-5.724555,Lukali,0,Internal,Lukali,Dodoma,1,6,Bahi,Lamaiti,0,True,GeoData Consultants Ltd,VWC,NaN,True,0,india mark ii,india mark ii,handpump,vwc,user-group,never pay,never pay,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump
20413,14146,0.0,2011-07-10,Kkkt,0,KKKT,32.499866,-9.081222,Mahakama,0,Lake Rukwa,Chawalikozi,Mbeya,12,6,Mbozi,Ndalambo,0,True,GeoData Consultants Ltd,VWC,NaN,False,0,other,other,other,vwc,user-group,never pay,never pay,soft,good,enough,enough,shallow well,shallow well,groundwater,other,other
52806,47410,0.0,2011-04-12,NaN,0,NaN,34.060484,-8.830208,Shule Ya Msingi Chosi A,0,Rufiji,Shuleni,Mbeya,12,7,Mbarali,Chimala,0,True,GeoData Consultants Ltd,VWC,NaN,True,0,gravity,gravity,gravity,vwc,user-group,pay monthly,monthly,soft,good,insufficient,insufficient,river,river/lake,surface,communal standpipe,communal standpipe
50091,1288,300.0,2011-04-05,Ki,1023,Ki,37.032690,-6.040787,Kwa Mjowe,0,Wami / Ruvu,Ngholong,Morogoro,5,1,Kilosa,Chakwale,120,True,GeoData Consultants Ltd,VWC,NaN,True,1997,other,other,other,vwc,user-group,pay when scheme fails,on failure,salty,salty,enough,enough,shallow well,shallow well,groundwater,other,other

In [5]:
train_X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 47520 entries, 3607 to 56422
Data columns (total 40 columns):
id                       47520 non-null int32
amount_tsh               47520 non-null float64
date_recorded            47520 non-null datetime64[ns]
funder                   44644 non-null category
gps_height               47520 non-null int16
installer                44631 non-null category
longitude                47520 non-null float64
latitude                 47520 non-null float64
wpt_name                 47520 non-null object
num_private              47520 non-null int16
basin                    47520 non-null category
subvillage               47224 non-null category
region                   47520 non-null category
region_code              47520 non-null category
district_code            47520 non-null category
lga                      47520 non-null category
ward                     47520 non-null category
population               47520 non-null int16
public_meeting           44831 non-null category
recorded_by              47520 non-null category
scheme_management        44418 non-null category
scheme_name              24997 non-null category
permit                   45081 non-null category
construction_year        47520 non-null int16
extraction_type          47520 non-null category
extraction_type_group    47520 non-null category
extraction_type_class    47520 non-null category
management               47520 non-null category
management_group         47520 non-null category
payment                  47520 non-null category
payment_type             47520 non-null category
water_quality            47520 non-null category
quality_group            47520 non-null category
quantity                 47520 non-null category
quantity_group           47520 non-null category
source                   47520 non-null category
source_type              47520 non-null category
source_class             47520 non-null category
waterpoint_type          47520 non-null category
waterpoint_type_group    47520 non-null category
dtypes: category(30), datetime64[ns](1), float64(3), int16(4), int32(1), object(1)
memory usage: 5.5+ MB

# Create a List of Classes Based On JSON

In [6]:
def get_starting_info():
    """
    Get the initial starting information from starting_info.json.
    
    :returns: a dictionary where the key is the column name and 
              the value is a list, where the first item of that list
              is a list of operations to perform on the column 
              and the second item is a string that justifies why 
              a certain operation is performed.
    :rtype:   dict
    """
    
    file = open('starting_info.json')
    starting_info = json.load(file)
    file.close()
    return starting_info

#starting_info = get_starting_info()
#pd.DataFrame(starting_info)

In [7]:
class ColumnOperations:
    """
    A class for representing column operations to be performed for the dataframe
    """
    
    def __init__(self, name, operations, justifications):
        """
        :param name: column name
        :type  name: str
        :param operations: a sequence of operations to be performed on the column
        :type  operations: list
        :param justification: justification for operation
        :type  justification: str
        """
        
        self.name = name
        self.operations = operations
        self.justifications = justifications

In [8]:
"""
Here is where I want to be updating when I want to try new feature engineerings.
I will use the function below to initiate the classes.
However, I want to create another function that will update the list.
"""

def create_col_instances():
    """
    Create a list of instances of the column operation class
    
    :param col_dict: dictionary where keys are column names and values are the class attributes
    :type  col_dict: dict
    :returns: list of class instances
    :rtype:   list
    """
    
    starting_info = get_starting_info()
    
    col_instances = []
    for col_name, attributes in starting_info.items():
        col_instances.append(ColumnOperations(col_name, attributes[0], attributes[1]))
    return col_instances
        
list_of_classes = create_col_instances()
#pprint.pprint (list_of_classes)

In [9]:
def perform_operations(df, col_name, operations):
    """
    Execute operations on a certain column in the dataframe.
        Dtypes                  Operations:      Description:
        ALL                     drop             drop the entire column
        
        Numerics
                                log              perform log transformation on the column
                                box cox          perform box cox transformation on the column
                                drop0            drop all values with zeros in it
                                absneg           absolute value the negatives
                                median0          replace 0 with the median
                                binning_NUM      create NUM amount of bins
                                outlierZ_NUM     remove outliers with z score > NUM
                                shiftmin         subtract the columns by the minimum value

        Datetime
                                finddays         convert datetime to days since the first day

        Categorical/Object
                                cbinning_NUM     create bins where each bin must have occurences 
                                                 of NUM or higher
                                mostcommon       replace nan with most common category

    :param df: dataframe 
    :type  df: pandas.core.frame.DataFrame
    :param col_name: name of column
    :type  col_name: str
    :param operations: list of operations to perform on the certain column
    :type  operations: list
    :returns: transformed dataframe 
    :rtype:   pandas.core.frame.DataFrame
    """

    col = df[col_name]

    # iterate throughout the list of transformations for each column
    for operation in operations:
        if operation == 'drop':
            # immediately returns the dataframe since no more operations can be 
            # performed on a drop column
            return df.drop(col_name, axis=1)

        # numeric columns
        elif str(col.dtype) in {'int8', 'int16', 'int32', 'float64'}:
            if operation == 'log':
                col = np.log(1 + col)  # to make sure no divide by zero
            elif operation == 'box cox':
                col = ss.boxcox(col + 0.001)  # to make sure no divide by zero
            elif operation == "drop0":
                df = df[col != 0]
                col = col[col != 0]
            elif operation == "absneg":
                col = col.abs()
            elif operation == "median0":
                from sklearn.preprocessing import Imputer
                col[col == 0] = np.nan
                imputer = Imputer(strategy="median")
                col = imputer.fit_transform(col.values.reshape(-1, 1))
            elif operation.split('_')[0] == 'binning':
                # name would be binning_NUM
                num = int(operation.split('_')[1])
                quantile_list = [i / (num - 1) for i in range(num)]
                # this column with DROP_ will eventually be dropped. 
                # It is here if one were to reference the the bins
                df["DROP_" + col_name] = pd.qcut(
                    col,
                    q=quantile_list,
                    duplicates='raise',
                )
                col = pd.qcut(
                    col,
                    q=quantile_list,
                    duplicates='raise',
                    labels=quantile_list[1:]
                )
            elif operation.split('_')[0] == 'outlierZ':
                z = np.abs(ss.zscore(col))
                keep_values = z < float(operation.split('_')[1])
                df = df[keep_values]
                col = col[keep_values]
            elif operation == "shiftmin":
                col = col - col.min()
            else:
                raise ValueError('Not an available operation for numerics')

        # datetime columns
        elif str(col.dtype) in {'datetime64[ns]'}:
            # TODO: add more datetime dtypes (not sure if that is the only one)
            if operation == "finddays":
                col = (col - min(col)).dt.days

        # categorical or object columns
        elif str(col.dtype) in {'category', 'object'}:
            if operation.split('_')[0] == "cbinning":
                num = float(operation.split('_')[1])
                value_counts = col.value_counts()
                x = col.replace(value_counts)
                df[col_name][df[col_name] == '0'] = np.nan
                df[col_name] = df[col_name].cat.add_categories(['OTHER'])
                df[col_name] = df[col_name].fillna('OTHER')
                df.loc[x < num, col_name] = 'OTHER'
                return df
            elif operation == "mostcommon":
                most_common = col.value_counts().index[0]
                col = col.fillna(most_common)
            else:
                raise ValueError(
                    'Not an available operation for categoricals or objects')

        else:
            raise ValueError('Not an available data type')

    df[col_name] = col

    return df

In [10]:
def perform_operations_with_classes(df, list_of_instances):
    """
    For each instance of a class in a list,
    perform the operation(s) indicated in the instance.
    For example, one instance contains the name of the column and 
    list of operations to perform on that column.
    For each matching column in the dataframe, perform the operations.
    
    :param df: dataframe
    :type  df: pandas.core.frame.DataFrame
    :param list_of_instances: list of instances of a class
    :type  list_of_instances: list
    :returns: dataframe
    :rtype:   pandas.core.frame.DataFrame
    """
    
    for col_class in list_of_instances:
        df = perform_operations(df, col_class.name, col_class.operations)
    return df
    
#testing_all = perform_operations_with_classes(train_X, list_of_classes)

In [11]:
#perform_operations(train_X, 'id', ['drop']).head()
#perform_operations(train_X, 'amount_tsh', ['outlierZ_3'])#.head()
#perform_operations(train_X, 'amount_tsh', ['median0'])#.head()
#test = perform_operations(train_X, 'gps_height', ['absneg'])#.head()
#test = perform_operations(train_X, 'population', ['outlierZ'])#.head()
#test = perform_operations(train_X, 'construction_year', ['median0', 'shiftmin'])#.head()
#test = perform_operations(train_X, 'public_meeting', ["mostcommon"])#.head()
#test['public_meeting'].isnull().any()
#test = perform_operations(train_X, 'amount_tsh', ['binning_2']).head()
#test

In [12]:
def drop_col_with_DROP(df):
    """
    Drop columns that have a name of DROP_XXX.
    
    :param df: dataframe
    :type  df: pandas.core.frame.DataFrame
    :returns: dataframe of dropped columns
    :rtype:   pandas.core.frame.DataFrame
    """
    
    for col in df.columns:
        if col.split('_')[0] == 'DROP':
            df = df.drop([col], axis=1)
    return df

In [13]:
from sklearn.base import BaseEstimator, TransformerMixin

class DataCleaning(BaseEstimator, TransformerMixin):
    """
    Class for performing data cleaning, so the same can be applied to the test case
    """
    
    def __init__(self, class_list=list_of_classes):
        """
        :param class_list: list of instances of the ColumnOperations class
        :type  class_list: list
        """
        
        self.class_list = class_list
    def fit(self, X, y=None):
        return self
    def transform(self, X, y=None):
        # drop all columns that has DROP_ in its column name
        X = drop_col_with_DROP(X)
        # use the list of classes and perform operations on each column based on the classes
        X_transformed = perform_operations_with_classes(X, self.class_list)
        return X_transformed

In [14]:
"""
I also don't want to abstract this away because it would be helpful to see how 
the first transformation changed the data.
"""

trans = DataCleaning()
testing_all = trans.transform(train_X)

/Users/jinli/anaconda3/lib/python3.6/site-packages/sklearn/utils/deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [15]:
testing_all.head()

,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,region,district_code,lga,population,public_meeting,scheme_management,permit,construction_year,extraction_type_class,management,payment_type,quality_group,quantity_group,source,waterpoint_type_group
3607,3.931826,3339,Dmdd,2092,OTHER,35.426020,-4.227446,Manyara,1,Babati,160,True,Water Board,True,38.0,gravity,water board,per bucket,good,insufficient,spring,communal standpipe
50870,0.000000,2626,Cmsr,0,Gove,35.510074,-5.724555,Dodoma,6,Bahi,0,True,VWC,True,40.0,handpump,vwc,never pay,good,enough,shallow well,hand pump
20413,0.000000,2741,Kkkt,0,KKKT,32.499866,-9.081222,Mbeya,6,Mbozi,0,True,VWC,False,40.0,other,vwc,never pay,good,enough,shallow well,other
52806,0.000000,2652,OTHER,0,OTHER,34.060484,-8.830208,Mbeya,7,Mbarali,0,True,VWC,True,40.0,gravity,vwc,monthly,good,insufficient,river,communal standpipe
50091,5.707110,2645,Ki,1023,OTHER,37.032690,-6.040787,Morogoro,1,Kilosa,120,True,VWC,True,37.0,other,vwc,on failure,salty,enough,shallow well,other

In [16]:
testing_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45517 entries, 3607 to 56422
Data columns (total 22 columns):
amount_tsh               45517 non-null float64
date_recorded            45517 non-null int64
funder                   45517 non-null category
gps_height               45517 non-null int16
installer                45517 non-null category
longitude                45517 non-null float64
latitude                 45517 non-null float64
region                   45517 non-null category
district_code            45517 non-null category
lga                      45517 non-null category
population               45517 non-null int16
public_meeting           45517 non-null category
scheme_management        45517 non-null category
permit                   45517 non-null category
construction_year        45517 non-null float64
extraction_type_class    45517 non-null category
management               45517 non-null category
payment_type             45517 non-null category
quality_group            45517 non-null category
quantity_group           45517 non-null category
source                   45517 non-null category
waterpoint_type_group    45517 non-null category
dtypes: category(15), float64(4), int16(2), int64(1)
memory usage: 3.2 MB

In [17]:
def split_cat_num(df):
    """
    Split the dataframe into two dataframes, 
    where one contains the numeric datatypes 
    and the other contains categorical datatypes.

    :param df: dataframe
    :type  df: pandas.core.frame.DataFrame
    :returns: (df with numeric dtypes, df with categorical dtypes)
    :rtype:   (pandas.core.frame.DataFrame, pandas.core.frame.DataFrame)
    """

    col_names = set(df.columns)
    types = set([str(dtype) for dtype in df.dtypes.values])

    num_cols = df.select_dtypes(
        include=['int8', 'int16', 'int32', 'int64', 'float64'])
    cat_cols = df.select_dtypes(include=['category'])

    num_col_names = set(num_cols.columns)
    cat_col_names = set(cat_cols.columns)

    missing_col_names = col_names.difference(
        num_col_names).difference(cat_col_names)

    if len(missing_col_names) != 0:
        print("Columns Missing:", missing_col_names)

    return list(num_cols.columns), list(cat_cols.columns)


#num_cols, cat_cols = split_cat_num(testing_all)

In [18]:
#cat_cols

In [19]:
def transform_df(df):
    """
    :param df: dataframe
    :type  df: pandas.core.frame.DataFrame
    :returns: numpy array of size (instances, number of numeric columns + category one hot encoded columns)
    :rtype:   numpy.ndarray
    """

    from sklearn.pipeline import Pipeline
    from sklearn.preprocessing import StandardScaler
    from sklearn.compose import ColumnTransformer
    from sklearn.preprocessing import OneHotEncoder

    num_cols, cat_cols = split_cat_num(testing_all)

    num_pipeline = Pipeline([
        ('std_scaler', StandardScaler()),
    ])

    full_pipeline = ColumnTransformer([
        ("num", num_pipeline, num_cols),
        ("cat", OneHotEncoder(), cat_cols),
    ])

    # Note that the number of columns is now a lot larger, since the categorical columns are one hot encoded.
    result = full_pipeline.fit_transform(df)

    return result.toarray()

In [20]:
#test = full_pipeline.fit_transform(testing_all)
test = transform_df(testing_all)

In [21]:
test.shape

(45517, 429)